package genconfig

configuration conf {
	include embox.arch.system(core_freq=32000000)
	include embox.arch.riscv.kernel.boot
	include embox.arch.riscv.kernel.arch
	include embox.arch.riscv.kernel.locore
	include embox.arch.riscv.kernel.interrupt
	include embox.arch.riscv.libarch

	include embox.mem.bitmask
	include embox.driver.periph_memory_stub
	include embox.arch.generic.nommu
	include embox.mem.sysmalloc_task_based
	include embox.mem.heap_bm

	include embox.kernel.task.resource.errno

	include embox.driver.serial.ns16550(base_addr=0x10000000, reg_width=1)
	include embox.driver.diag(impl="embox__driver__serial__ns16550")

	include embox.driver.interrupt.riscv_intc
	include embox.driver.clock.riscv_clk(base_mtime=0x200bff8, base_mtimecmp=0x2004000)

	/* Tell printf() do not support floating point */
	include embox.compat.libc.stdio.print(support_floating=0)

	include embox.kernel.critical
	include embox.compat.libc.math_builtins
	include embox.kernel.spinlock(spin_debug = false)

	include embox.test.stdlib.setjmp_test

	include embox.driver.char_dev_stub
	include embox.driver.serial.core_notty
}
