package genconfig

configuration conf {
	include embox.arch.xen.xen_header
	include embox.arch.xen.boot

//	include embox.arch.x86.libarch


	include embox.arch.x86.libarch
	include embox.arch.generic.arch
	include embox.driver.interrupt.no_interrupts
	include embox.kernel.no_irq
	include embox.kernel.critical
	include embox.mem.NoPage

	@Runlevel(2) include embox.driver.diag(impl="embox__driver__diag__mem_diag")
	include embox.driver.diag.mem_diag


	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	//@Runlevel(2) include embox.compat.libc.LibC
}
