package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.xen.xenstore
	@Runlevel(0) include embox.arch.xen.xenstore_test
	include embox.arch.xen.locore
	include embox.arch.xen.xen_header
	include embox.arch.xen.boot
	include embox.arch.xen.event
	include embox.arch.xen.traps
	include embox.arch.xen.vfork

	include embox.arch.xen.libarch
	include embox.arch.xen.ipl
	include embox.arch.generic.arch
	include embox.arch.x86.kernel.context
	include embox.driver.diag.xen_diag
	@Runlevel(2) include embox.driver.diag(impl="embox__driver__diag__xen_diag")
	include embox.driver.interrupt.xen
	include embox.driver.clock.xen
	@Runlevel(0) include embox.kernel.time.timer_handler
	include embox.kernel.critical
	include embox.arch.generic.nosmp
	include embox.kernel.spinlock(spin_debug=false)



	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.compat.libc.stdio.print(support_floating=0)

	@Runlevel(2) include embox.test.kernel.irq_test(irq_nr=3, inner_irq_nr=3, outer_irq_nr=5)

	@Runlevel(2) include embox.cmd.shell
	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script(shell_name="diag_shell")

	include embox.cmd.sys.date
	include embox.cmd.msleep

	include embox.mem.bitmask
	include embox.driver.net.xen
	include embox.fs.core
	@Runlevel(2) include embox.net.core
	@Runlevel(2) include embox.net.skbuff(amount_skb=4000)
	@Runlevel(2) include embox.net.skbuff_data(amount_skb_data=4000,data_size=1514,data_align=1,data_padto=1,ip_align=false)
	@Runlevel(2) include embox.net.socket
	@Runlevel(2) include embox.net.dev
	@Runlevel(2) include embox.net.af_inet
	@Runlevel(2) include embox.net.ipv4
	@Runlevel(2) include embox.net.arp
	@Runlevel(2) include embox.net.rarp
	@Runlevel(2) include embox.net.icmpv4
	@Runlevel(2) include embox.net.udp(verify_chksum=false)
	@Runlevel(2) include embox.net.tcp(verify_chksum=false)
	@Runlevel(2) include embox.net.udp_sock
	@Runlevel(2) include embox.net.tcp_sock
	@Runlevel(2) include embox.net.raw_sock
	@Runlevel(2) include embox.net.net_entry
	@Runlevel(2) include embox.driver.net.loopback

	include embox.cmd.net.arp
	include embox.cmd.net.netstat
	include embox.cmd.net.arping
	include embox.cmd.net.rarping
	include embox.cmd.net.ifconfig
	include embox.cmd.net.ping
	include embox.cmd.net.iptables
	include embox.cmd.net.route
	include embox.cmd.net.ftp
	include embox.cmd.net.sftp
	include embox.cmd.net.tftp
	include embox.cmd.net.snmpd
	include embox.cmd.net.ntpdate
	include embox.cmd.net.bootpc
	include embox.cmd.net.httpd
	include embox.cmd.net.telnetd
	include embox.cmd.net.nslookup
	include embox.cmd.net.getmail
	include embox.cmd.net.sendmail
	include embox.cmd.net.speedtest
	@Runlevel(2) include embox.fs.driver.initfs
	@Runlevel(2) include embox.fs.rootfs
	@Runlevel(2) include embox.fs.driver.devfs
	
	include embox.cmd.fs.cat
	include embox.cmd.fs.ls
	include embox.demo.website
}
