
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.ppc.lds
	@Runlevel(0) include embox.arch.ppc.cpu
	@Runlevel(0) include embox.arch.ppc.kernel.boot
	@Runlevel(0) include embox.arch.ppc.kernel.arch
	@Runlevel(0) include embox.arch.ppc.kernel.locore
	@Runlevel(0) include embox.arch.system(core_freq=100000000)

	@Runlevel(1) include embox.driver.diag.i8250(baud_rate=115200)
	@Runlevel(1) include embox.driver.interrupt.ppc_intc
	@Runlevel(1) include embox.driver.clock.ppc_clk

	@Runlevel(3) include embox.init.start_script
	include embox.cmd.sh.tish

	include embox.cmd.version
	include embox.cmd.help

	include embox.mem.pool_adapter
	include embox.prom.prom_printf
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.ppc.libarch
	include embox.lib.FilePosixNoOpen
	include embox.lib.LibC
}
