
package genconfig

configuration conf {

	include embox.arch.ppc.lds
	include embox.arch.ppc.kernel.boot
	include embox.arch.ppc.cpu
	include embox.arch.ppc.kernel.locore
	//include embox.arch.ppc.kernel.entry
	@Runlevel(1) include embox.arch.ppc.kernel.arch

	@Runlevel(2) include embox.driver.diag.no_diag
	@Runlevel(2) include embox.driver.interrupt.no_interrupts


	@Runlevel(2) include embox.arch.system(core_freq=50000000)

	@Runlevel(2) include embox.prom.noprom_printf

	include embox.util.LibUtil
	include embox.mem.pool_adapter
	include embox.framework.LibFramework
	include embox.lib.FilePosixNoOpen
	include embox.arch.ppc.libarch
}
