package genconfig

configuration conf {
	include embox.arch.system(core_freq=100000000)
	include embox.arch.mips.kernel.boot
	include embox.arch.mips.kernel.reset
	include embox.arch.mips.kernel.arch
	include embox.arch.mips.kernel.locore
	include embox.arch.mips.kernel.interrupt
	include embox.arch.mips.kernel.exception
	include embox.arch.mips.kernel.entry

	include embox.arch.mips.libarch

	include embox.arch.mips.kernel.context

	include embox.driver.serial.ns16550(base_addr=0x1F04A000,irq_num=55)
	include embox.driver.char_dev_stub
	include embox.driver.diag(impl="embox__driver__serial__ns16550")
	include embox.driver.serial.core_notty
	
	include embox.driver.periph_memory_stub

	include embox.driver.interrupt.mips_intc
	@Runlevel(2) include embox.driver.clock.mips_clk

	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.timer.strategy.list_timer
	@Runlevel(2) include embox.kernel.time.timekeeper
	@Runlevel(2) include embox.kernel.critical

	include embox.kernel.thread.stack_protect
	include embox.kernel.sched.sched_ticker

	include embox.kernel.task.kernel_task

	include embox.kernel.sched.schedee

	include embox.kernel.task.resource.errno

	include embox.kernel.irq
	include embox.kernel.cpu.no_bkl
	include embox.kernel.cpu.no_cpudata
	include embox.kernel.irq_lock
	include embox.kernel.sched.current.default

	include embox.kernel.thread.thread_none
	include embox.compat.libc.math_builtins

	include embox.test.stdlib.setjmp_test
	include embox.test.kernel.timer_test
	include embox.test.mem.pool_test
}
