
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.sparc.lds
	@Runlevel(2) include embox.arch.sparc.kernel.arch
	@Runlevel(2) include embox.arch.sparc.kernel.locore
	@Runlevel(2) include embox.arch.sparc.kernel.context
	@Runlevel(2) include embox.arch.system(core_freq=50000000)

	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.driver.diag.apbuart(baud_rate=38400)

	@Runlevel(2) include embox.driver.ambapp_dumb
	@Runlevel(2) include embox.driver.interrupt.irqmp
	@Runlevel(2) include embox.driver.clock.gptimer(irq_num=6)
	@Runlevel(2) include embox.driver.serial.apbuart(baud_rate=38400,irq_num=3,apbuart_base=0x80000100)

	@Runlevel(1) include embox.arch.sparc.kernel.interrupt
	@Runlevel(1) include embox.kernel.time.timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(2) include embox.kernel.timer.timer
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.softirq
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.kernel.task.multi
	@Runlevel(2) include embox.kernel.thread.sched_policy.priority_based
	@Runlevel(2) include embox.kernel.thread.event

	@Runlevel(2) include embox.mem.bitmask
	@Runlevel(2) include embox.mem.heap_bm
	@Runlevel(2) include embox.mem.pool_adapter

	@Runlevel(1) include embox.test.hal.ipl_test
	@Runlevel(1) include embox.test.kernel.irq_test

	@Runlevel(2) include embox.fs.driver.ramfs
	@Runlevel(2) include embox.fs.rootfs

	@Runlevel(3) include embox.cmd.shell
	@Runlevel(3) include embox.cmd.sh.tish
	@Runlevel(3) include embox.init.start_script(tty_dev="uart",shell_name="tish",input_buffer=80)
	include embox.cmd.help
	include embox.cmd.mem
	include embox.cmd.shutdown

	include embox.compat.posix.FileTasks
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.sparc.libarch
	include embox.lib.LibC
}
