
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.generic.arch
	@Runlevel(0) include embox.arch.arm.armlib.context
	@Runlevel(0) include embox.arch.arm.armlib.interrupt
	@Runlevel(0) include embox.arch.arm.armlib.locore
	@Runlevel(0) include embox.arch.arm.armlib.static_excpt_table
	@Runlevel(0) include embox.arch.system(core_freq=48054841)
	@Runlevel(0) include embox.arch.arm.stackframe

	include embox.kernel.spinlock(spin_debug=false)
	@Runlevel(0) include embox.kernel.stack(stack_size=8192)
	@Runlevel(1) include embox.driver.serial.pl011(base_addr=0x16000000)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__pl011")
	@Runlevel(1) include embox.driver.interrupt.integratorcp_pic
	@Runlevel(1) include embox.driver.clock.integratorcp_clock(integratorcp_clock_base=0x13000000)
	@Runlevel(1) include embox.driver.net.lan91c111(base_addr=0xC8000000)
	@Runlevel(2) include embox.driver.net.loopback
	@Runlevel(1) include embox.kernel.timer.sys_timer

	@Runlevel(1) include embox.kernel.timer.strategy.head_timer
	@Runlevel(1) include embox.kernel.task.multi
	@Runlevel(1) include embox.kernel.irq
	@Runlevel(1) include embox.kernel.critical
	@Runlevel(1) include embox.kernel.timer.sleep

	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=512)
	@Runlevel(1) include embox.kernel.sched.strategy.priority_based

	include embox.mem.vmem_nommu

	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script
	@Runlevel(2) include embox.cmd.sh.tish(prompt="%u@%h:%w%$", rich_prompt_support=1, builtin_commands="exit logout cd export mount umount")
	@Runlevel(3) include embox.init.start_script(shell_name="tish", tty_dev="ttyS0", shell_start=1, stop_on_error=true)

	include embox.cmd.test
	include embox.cmd.help

	include embox.cmd.sys.date
	include embox.cmd.sys.version
	include embox.cmd.fs.cat
	include embox.cmd.fs.ls

	include embox.cmd.proc.thread
	include embox.cmd.sys.export

	include embox.cmd.net.arp
	include embox.cmd.net.arping
	include embox.cmd.net.ping
	include embox.cmd.net.ifconfig
	include embox.cmd.net.route
	include embox.cmd.net.telnetd
	include embox.cmd.net.httpd

	include embox.compat.libc.stdio.print(support_floating=0)
	include embox.mem.pool_adapter
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.arm.libarch
	include embox.compat.libc.all
	include third_party.lib.libgcc_toolchain

	include embox.net.dev
	include embox.net.core
	include embox.net.net_entry
	include embox.net.l2.ethernet
	include embox.net.arp
	include embox.net.af_inet
	include embox.net.ipv4
	include embox.net.icmpv4
	include embox.net.udp
	include embox.net.tcp
	include embox.net.udp_sock
	include embox.net.tcp_sock
	include embox.net.raw_sock
	include embox.net.skbuff(amount_skb=4000)
	include embox.net.skbuff_data(amount_skb_data=4000,data_size=1514,data_align=64,data_padto=64,ip_align=true)
	include embox.net.lib.dns_fixed(nameserver="192.168.0.1")

	include embox.test.net.socket_test(family=2,type=1,proto=0) /* AF_INET, SOCK_STREAM, default */
	include embox.test.net.inet_socket_test(type=1,proto=0) /* SOCK_STREAM, default */
	include embox.test.net.inet_dgram_socket_test(proto=0) /* default */
	include embox.test.net.inet_stream_socket_test(proto=0) /* default */

	@Runlevel(1) include embox.test.critical
	@Runlevel(1) include embox.test.framework.mod.member.ops_test
	@Runlevel(1) include embox.test.kernel.timer_test
	//@Runlevel(1) include embox.test.kernel.irq_test(forced_irq_clear=false)
	@Runlevel(1) include embox.test.recursion
	@Runlevel(1) include embox.test.posix.sleep_test
	@Runlevel(1) include embox.test.stdlib.bsearch_test
	@Runlevel(1) include embox.test.stdlib.qsort_test
	@Runlevel(1) include embox.test.util.array_test
	@Runlevel(1) include embox.test.util.bit_test
	@Runlevel(1) include embox.test.util.slist_test
	@Runlevel(1) include embox.test.mem.pool_test
	include embox.kernel.timer.sys_timer(timer_quantity=512) // each sleep thread requires a timer
	@Runlevel(1) include embox.test.kernel.thread.thread_priority_test
	@Runlevel(1) include embox.test.stdlib.setjmp_test
	//@Runlevel(1) include embox.test.mmu_core

	include embox.fs.syslib.perm_stub
	include embox.compat.posix.fs.all_dvfs
	include embox.fs.driver.initfs_dvfs

	@Runlevel(2) include embox.mem.static_heap(heap_size=64000000)
	@Runlevel(2) include embox.mem.heap_bm(heap_size=32000000)

	include embox.lib.debug.whereami
}
