
package genconfig

configuration conf {
	include embox.kernel.stack(alignment=0x2, stack_size=128)

	include embox.driver.diag.mem_diag
	include embox.driver.diag(impl="embox__driver__diag__mem_diag")

	include embox.arch.multiclet.crt

	include embox.arch.generic.arch

	include embox.compat.posix.errno.errno_static
	include embox.kernel.cpu.no_bkl
	include embox.kernel.cpu.no_cpudata
	include third_party.lib.NoOpenLibm
}
