language: c

cache:
  apt: true
  directories:
    - mk/.cache

env:
  global:
    # Encrypted COVERITY_SCAN_TOKEN
    - secure: KKhG29VpIOr5mq9xHptpDSfFEcSRKB8BX4e5zL0VQNJGkrNAHJ7ba+boHKEmSJJ1fZvHC18XOb886BIsn0i+lFrVymYDR8L8ca3e/k26LktnqMn76ORK1WYkD1fiRg3lX25v/j0TkoLB7pmDnMhZyGzg20675V1sHbl/KCO1LJI=
    - AUTOQEMU_NICS=''
  matrix:
    - TEMPLATE=arm/qemu
    - TEMPLATE=arm/stm32_f4
    - TEMPLATE=x86/qemu
    - TEMPLATE=x86/test/lang

before_install:
  - travis_retry sudo add-apt-repository -y ppa:team-gcc-arm-embedded/ppa
  - travis_retry sudo apt-get update -qq

# TODO make it template-specific
install:
  - travis_retry sudo apt-get install -qq gcc-arm-embedded
  - travis_retry sudo apt-get install -qq gcc-multilib
  - travis_retry sudo apt-get install -qq u-boot-tools
  - travis_retry sudo apt-get install -qq qemu qemu-system

before_script:
  - unset CC
  - export CC
  - make confload-"$TEMPLATE"
  - sed -ie '/eth0\|http/d' conf/start_script.inc  # FIXME
  - make buildgen  # Make as much as possible before the actual build step.
  - |
    if [ "${COVERITY_SCAN_BRANCH}" != 1 ]
    then
      function run() { echo -e '$' "${ANSI_GREEN}$@${ANSI_RESET}"; "$@"; }
    else
      function run() { echo "Not running '$@': Coverity scan build"; }
    fi

script:
  - run make && run ./scripts/continuous/run.sh "$TEMPLATE"

addons:
  coverity_scan:
    project:
      name: "embox/embox"
      description: "Build submitted via Travis CI"
    notification_email: eldar.abusalimov@gmail.com
    build_command: make
    branch_pattern: coverity

notifications:
  slack:
    secure: XIP8diNjLokES+oeQJtSQLiGAGxvqlBdoKZqccLsOZWtYToDMoNlILAurNI9wCkb1i9TmNbaNYaGqm4h6jbt/+2gOsi6u1Nu4QpTF+g294hqgE4ztxmqcX7JSOGldLxdG+o+eu6D+yUEwFbrBA0WSEVgB26Sd3JQ0jvnxAk4sJw=
    on_success: change
    on_failure: always
