
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.arm.lds
	@Runlevel(2) include embox.arch.arm.kernel.arch
	@Runlevel(2) include embox.arch.arm.kernel.locore
	@Runlevel(2) include embox.kernel.main
	@Runlevel(2) include embox.arch.system(core_freq=48054841)
	@Runlevel(2) include embox.driver.interrupt.at91_aic
	@Runlevel(2) include embox.driver.clock.at91_pitc
	@Runlevel(2) include embox.driver.serial.at91_uart(baud_rate=38400)
	@Runlevel(2) include embox.driver.diag.at91_uart(baud_rate=38400)
	@Runlevel(1) include embox.test.recursion
	@Runlevel(2) include embox.kernel.timer.sleep_nosched
	@Runlevel(2) include embox.kernel.timer.head_timer
	@Runlevel(2) include embox.kernel.softirq
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.kernel.single_task
	@Runlevel(2) include embox.compat.posix.LibPosix
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.arm.libarch
	@Runlevel(2) include embox.lib.LibC
}
