<div class="container" ng-controller="LogCtrl">

<div class="container-fluid mt-4">
    <div class="row justify-content-center">

           <div class="card border-primary text-center" style="width: 64rem;">
             <div class="card-header"><h2><i class="fas fa-list"></i></h2></div>
             <div class="card-body text-primary">
                 <p class="card-text"><h6>
                   <textarea rows="15" class="form-control" readonly>{{logger}}</textarea>
                 </h6></p>
             </div>
           </div>

    </div>
</div>

</div>
