
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.system(core_freq=144000000)
	@Runlevel(0) include embox.arch.arm.cortexm3.bundle
	@Runlevel(0) include third_party.bsp.st_f4.arch

	@Runlevel(0) include embox.kernel.stack(stack_size=8192,alignment=4)

	@Runlevel(1) include embox.driver.interrupt.cortexm_nvic(irq_table_size=128)
	/*@Runlevel(1) include embox.driver.interrupt.cmsis_nvic*/
	@Runlevel(1) include embox.driver.clock.cortexm_systick
	@Runlevel(1) include embox.driver.serial.stm_usart(baud_rate=115200,usartx=6)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__stm_usart")
	@Runlevel(2) include embox.driver.net.stm32f4_eth
	@Runlevel(2) include embox.driver.net.loopback
	@Runlevel(2) include embox.driver.audio.stm32f4_pa(sample_rate=8000,volume=70)

	include embox.kernel.task.single
	include embox.kernel.task.resource.idesc_table(idesc_table_size=6)

	//include embox.kernel.thread.thread_local_none
	include embox.kernel.thread.thread_cancel_disable
	//include embox.kernel.thread.signal_stub
	//include embox.kernel.timer.sleep_nosched
	include embox.kernel.sched.sched
	include embox.kernel.sched.idle_light

	include embox.net.skbuff(amount_skb=20,amount_skb_data=20,data_size=214)
	include embox.net.sock_noxattr
	include embox.net.af_inet(amount_inet_sock=2)
	@Runlevel(2) include embox.net.core
	@Runlevel(2) include embox.net.socket
	@Runlevel(2) include embox.net.dev(netdev_quantity=2)
	@Runlevel(2) include embox.net.arp
	@Runlevel(2) include embox.net.ipv4(max_uncomplete_cnt=0)
	@Runlevel(2) include embox.net.udp
	//@Runlevel(2) include embox.net.tcp
	@Runlevel(2) include embox.net.udp_sock
	//@Runlevel(2) include embox.net.tcp_sock(amount_tcp_sock=0)
	@Runlevel(2) include embox.net.raw_sock
	@Runlevel(2) include embox.net.neighbour(neighbour_amount=2)
	@Runlevel(2) include embox.net.netfilter(amount_rules=0)

	include embox.kernel.lthread.lthread
	include embox.kernel.thread.core(thread_pool_size=2,thread_stack_size=0x1000)
	include embox.kernel.thread.signal.siginfoq(pool_sz=1)

	/* tty requires */
	include embox.kernel.thread.mutex
	include embox.driver.serial.fsnode_none
	include embox.driver.tty.task_breaking_disable

	include embox.fs.syslib.file_system_full(flock_quantity=0)
	include embox.fs.driver.repo(drivers_quantity=0)
	include embox.fs.filesystem(fs_quantity=0, mount_desc_quantity=0)
	include embox.fs.file_desc(fdesc_quantity=0)
	include embox.fs.node(fnode_quantity=1)
	include embox.fs.core

	@Runlevel(2) include embox.cmd.shell
	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script(shell_name="diag_shell")

	include embox.cmd.net.ifconfig
	include embox.cmd.net.route
	include embox.cmd.net.arp
	include embox.util.sys_log(msg_n=1)
	include embox.util.hashtable
	include embox.kernel.critical
	include embox.kernel.irq(action_n=5, entry_n=5)
	include embox.mem.pool_adapter

	//include embox.framework.embuild_light
	include embox.framework.LibFramework
	include embox.arch.arm.libarch

	include embox.compat.libc.stdio.print(support_floating=1)
	include embox.compat.libc.math
	include embox.compat.libc.stdio.file_pool(file_quantity=0)

	include embox.mem.heap_bm
	include embox.mem.static_heap(heap_size=0x10000,section="")
	include embox.mem.bitmask(page_size=64)

	include third_party.bsp.st_f4.core
	include third_party.bsp.st_f4.cmsis
	/*@Runlevel(2) include stm32vl.test.blinking_led*/

	/*include third_party.pjproject.streamutil*/
	include third_party.pjproject.pjsua
}
