
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.microblaze.lds
	@Runlevel(2) include embox.arch.microblaze.kernel.context
	@Runlevel(2) include embox.arch.microblaze.kernel.arch
	@Runlevel(2) include embox.arch.microblaze.kernel.locore
	@Runlevel(2) include embox.kernel.main
	@Runlevel(2) include embox.driver.clock.mb_timer
	@Runlevel(2) include embox.driver.interrupt.mb_intc
	@Runlevel(2) include embox.driver.terminal
	@Runlevel(2) include embox.driver.serial.xuartlite
	@Runlevel(2) include embox.driver.net.xemaclite
	@Runlevel(2) include embox.driver.diag.xuartlite
	@Runlevel(2) include embox.fs.ramfs
	@Runlevel(2) include embox.fs.rootfs
	@Runlevel(2) include embox.net.core
	@Runlevel(2) include embox.net.socket
	@Runlevel(2) include embox.net.af_inet
	@Runlevel(2) include embox.net.ipv4
	@Runlevel(2) include embox.net.arp
	@Runlevel(2) include embox.net.icmp
	@Runlevel(2) include embox.net.udp
	@Runlevel(2) include embox.net.raw_sock
	@Runlevel(2) include embox.net.eth
	@Runlevel(2) include embox.net.net_entry
	@Runlevel(1) include embox.test.recursion
	@Runlevel(1) include embox.test.kernel.timer_test
	@Runlevel(3) include embox.cmd.shell
	include embox.cmd.arp
	include embox.cmd.arping
	include embox.cmd.cat
	include embox.cmd.help
	include embox.cmd.ifconfig
	include embox.cmd.ls
	include embox.cmd.lsmod
	include embox.cmd.man
	include embox.cmd.mem
	include embox.cmd.mount
	include embox.cmd.ping
	include embox.cmd.rm
	include embox.cmd.route
	include embox.cmd.tftp
	include embox.cmd.test
	include embox.cmd.wmem
	include embox.cmd.version
	@Runlevel(2) include embox.kernel.thread.sched_policy.priority_based
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.timer.head_timer
	@Runlevel(2) include embox.kernel.softirq
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.kernel.multi_task
	@Runlevel(2) include embox.mem.bitmask
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.microblaze.libarch
	@Runlevel(2) include embox.lib.LibC
	@Runlevel(2) include embox.compat.posix.LibPosix
}
