<!doctype html>
<html lang="en" ng-app="HttpAdmin">
<head>
  <meta charset="utf-8">
  <title>HTTP Admin</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="css/app.css">-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Embox Panel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

      <ul class="nav navbar-nav">
	<li class="active"><a href="#">Network</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div ng-controller="InterfacesAdminCtrl">
	<button type="button" class="btn btn-danger" ng-click="flash()">Save current settings to flash</button>
	<form role="form" name="interfaceForm"
	  ng-repeat="iface in interfaces">
	  <h1>{{iface.name}}</h1>
	  <div class="form-group has-feedback" ng-class="{'has-error' : interfaceForm.ipInput.$invalid}">
	    <label for="ipInput{{index}}">IP</label>
	    <input type="text" class="form-control" id="ipInput{{index}}" name="ipInput"
	      placeholder="x.x.x.x"
	      ng-model="iface.ip"
	      ng-pattern="/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/"
	      required/>
	      <span class='glyphicon glyphicon-remove form-control-feedback'
		ng-show="interfaceForm.ipInput.$invalid"></span>
	  </div>
	  <div class="form-group has-feedback" ng-class="{'has-error' : interfaceForm.maskInput.$invalid}">
	    <label for="maskInput{{index}}">Netmask</label>
	    <input type="text" class="form-control" id="maskInput{{index}}" name="maskInput"
	      placeholder="x.x.x.x"
	      ng-model="iface.netmask"
	      ng-pattern="/\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/"
	      required/>
	      <span class='glyphicon glyphicon-remove form-control-feedback'
		ng-show="interfaceForm.maskInput.$invalid"></span>
	  </div>
	  <div class="form-group has-feedback" ng-class="{'has-error' : interfaceForm.macInput.$invalid}">
	    <label for="maskInput{{index}}">MAC</label>
	    <input type="text" class="form-control" id="macInput{{index}}" name="macInput"
	      placeholder="ff:ff:ff:ff:ff:ff"
	      ng-model="iface.mac"
	      ng-pattern="/[0-9a-fA-F]{2}\:[0-9a-fA-F]{2}\:[0-9a-fA-F]{2}\:[0-9a-fA-F]{2}\:[0-9a-fA-F]{2}\:[0-9a-fA-F]{2}$/"
	      required/>
	      <span class='glyphicon glyphicon-remove form-control-feedback'
		ng-show="interfaceForm.macInput.$invalid"></span>
	  </div>
	  <button type="submit" class="btn btn-default"
	    ng-disabled="interfaceForm.$invalid"
	    ng-click="update(iface)">Submit</button>
	</form>
      {{sent}}
      </div>
    </div>
  </div>

</body>
</html>
