
package genconfig

configuration conf {
	@Runlevel(2) include embox.kernel.main
	@Runlevel(2) include embox.arch.x86.lds
	@Runlevel(2) include embox.arch.x86.kernel.arch
	@Runlevel(2) include embox.arch.x86.kernel.locore
	@Runlevel(2) include embox.arch.x86.kernel.context
	@Runlevel(2) include embox.driver.interrupt.i8259
	@Runlevel(2) include embox.driver.clock.pit
	@Runlevel(2) include embox.driver.terminal
	@Runlevel(2) include embox.driver.keyboard
	@Runlevel(2) include embox.driver.net.ne2k_pci
	@Runlevel(2) include embox.driver.diag.serial_port(baud_rate=38400)
	@Runlevel(2) include embox.driver.net.loopback
	@Runlevel(2) include embox.fs.ramfs
	@Runlevel(2) include embox.fs.rootfs
	@Runlevel(1) include embox.test.critical
	@Runlevel(1) include embox.test.framework.mod.member.ops_test
	@Runlevel(1) include embox.test.kernel.softirq_test
	@Runlevel(1) include embox.test.kernel.timer_test
	@Runlevel(1) include embox.test.recursion
	@Runlevel(1) include embox.test.kernel.timer.sleep_test
	@Runlevel(1) include embox.test.stdlib.bsearch_test
	@Runlevel(1) include embox.test.stdlib.qsort_test
	@Runlevel(1) include embox.test.util.array_test
	@Runlevel(1) include embox.test.util.list_test
	@Runlevel(1) include embox.test.util.slist_test
	@Runlevel(1) include embox.test.util.tree_test
	@Runlevel(1) include embox.test.util.tree_set_test
	@Runlevel(1) include embox.test.util.math_test
	@Runlevel(1) include embox.test.mem.pool
	@Runlevel(3) include embox.cmd.shell
	include embox.cmd.arp
	include embox.cmd.arping
	include embox.cmd.ifconfig
	include embox.cmd.ping
	include embox.cmd.route
	include embox.cmd.tftp
	include embox.cmd.cat
	include embox.cmd.ls
	include embox.cmd.md5sum
	include embox.cmd.rm
	include embox.cmd.example
	include embox.cmd.help
	include embox.cmd.lsmod
	include embox.cmd.lspci
	include embox.cmd.man
	include embox.cmd.mem
	include embox.cmd.test
	include embox.cmd.version
	include embox.cmd.wmem
	include embox.cmd.log
	include embox.cmd.httpd
	include embox.cmd.telnetd
	@Runlevel(2) include embox.net.core
	@Runlevel(2) include embox.net.socket
	@Runlevel(2) include embox.net.dev
	@Runlevel(2) include embox.net.af_inet
	@Runlevel(2) include embox.net.ipv4
	@Runlevel(2) include embox.net.arp
	@Runlevel(2) include embox.net.icmp
	@Runlevel(2) include embox.net.udp
	@Runlevel(2) include embox.net.tcp
	@Runlevel(2) include embox.net.raw_sock
	@Runlevel(2) include embox.net.eth
	@Runlevel(2) include embox.net.net_entry
	@Runlevel(2) include embox.kernel.thread.sched_policy.priority_based
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.timer.timer
	@Runlevel(2) include embox.kernel.softirq
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.kernel.multi_task
	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.mem.bitmask
	@Runlevel(2) include embox.mem.heap_bm(HEAP_SIZE=4096)
	@Runlevel(3) include embox.example.net.tcp_accepter
	@Runlevel(3) include embox.example.net.tcp_connect
	@Runlevel(3) include embox.example.net.tcp_receiver
	@Runlevel(3) include embox.example.net.tcp_echo
	@Runlevel(3) include embox.example.net.tcp_sender
	@Runlevel(3) include embox.example.net.httpd
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.x86.libarch
	@Runlevel(2) include embox.lib.LibC
}
