
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.mips.lds(output_format="elf32-littlemips")
	@Runlevel(0) include embox.arch.mips.cpu

	@Runlevel(0) include embox.arch.mips.libarch

	@Runlevel(0) include embox.arch.mips.kernel.reset
	@Runlevel(0) include embox.arch.mips.kernel.boot
	@Runlevel(0) include embox.arch.mips.kernel.arch_maximite
	/*@Runlevel(2) include embox.arch.mips.kernel.entry*/

	@Runlevel(0) include embox.driver.diag.pic32mx_uart
	@Runlevel(0) include embox.driver.interrupt.no_interrupts

	/*@Runlevel(2) include embox.test.stdlib.setjmp_test	*/

	@Runlevel(2) include embox.prom.prom_printf

	@Runlevel(2) include embox.framework.LibFramework
}
