
package genconfig

configuration conf {
	include embox.arch.msp430.lds
	include embox.kernel.stack(alignment=0x2, stack_size=128)
	include embox.arch.msp430.kernel.arch
	include embox.driver.diag.no_diag
	include embox.prom.noprom_printf

	include embox.framework.runlevel
	include embox.lib.LibCDiagnostic
	include embox.lib.LibCString
}
