
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.mips.kernel.locore
	@Runlevel(2) include embox.arch.mips.cpu
	@Runlevel(2) include embox.arch.mips.kernel.arch

	@Runlevel(2) include embox.kernel.task.notask
	@Runlevel(2) include embox.driver.diag.no_diag

	@Runlevel(2) include embox.kernel.main

	@Runlevel(2) include embox.prom.noprom_printf

	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.mips.libarch
}
