
package genconfig

configuration conf {
/*	@Runlevel(2) include embox.arch.mips.lds
	@Runlevel(2) include embox.arch.mips.kernel.boot
	@Runlevel(2) include embox.arch.mips.cpu
	@Runlevel(2) include embox.arch.mips.kernel.arch
	@Runlevel(2) include embox.arch.mips.kernel.entry
	*/

	include embox.arch.mips.lds
	include embox.arch.mips.kernel.boot
	include embox.arch.mips.cpu
	include embox.arch.mips.kernel.entry
	@Runlevel(1) include embox.arch.mips.kernel.arch
	@Runlevel(1) include embox.arch.mips.kernel.interrupt
	@Runlevel(1) include embox.arch.mips.kernel.exception

	@Runlevel(2) include embox.driver.diag.i8250(baud_rate=115200)
	//@Runlevel(2) include embox.driver.diag.no_diag
	@Runlevel(2) include embox.driver.interrupt.mips_intc
	@Runlevel(2) include embox.driver.clock.mips_clk

	@Runlevel(2) include embox.kernel.time.timer
	@Runlevel(2) include embox.kernel.timer.head_timer
	@Runlevel(2) include embox.arch.system(core_freq=50000000)

	@Runlevel(2) include embox.test.stdlib.setjmp_test

	@Runlevel(2) include embox.mem.pool_adapter

	@Runlevel(2) include embox.prom.prom_printf

	@Runlevel(3) include embox.cmd.shell
	@Runlevel(3) include embox.init.start_script
	include embox.cmd.help
	include embox.cmd.version

	@Runlevel(2) include embox.kernel.time.jiffies

	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.util.num_alloc_array

	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.mips.libarch
}
