
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.mips.kernel.locore
	@Runlevel(2) include embox.arch.mips.cpu
	@Runlevel(2) include embox.arch.mips.kernel.arch

	@Runlevel(2) include embox.driver.diag.i8250(baud_rate=115200)
	@Runlevel(2) include embox.driver.interrupt.no_interrupts

	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.arch.mips.lds

	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.mips.libarch
}
