package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.arm.cortexa9.bundle
	@Runlevel(0) include embox.kernel.cpu.bkl
	@Runlevel(0) include embox.kernel.cpu.cpudata
	@Runlevel(0) include embox.kernel.irq

	include embox.arch.arm.libarch

	@Runlevel(0) include embox.kernel.critical

	@Runlevel(0) include embox.driver.interrupt.cortex_a9_gic(cpu_base_addr=0x00A00100,distributor_base_addr=0x00A01000)
	@Runlevel(0) include embox.kernel.stack(stack_size=4096)
	@Runlevel(2) include embox.driver.serial.imx_uart(base_addr=0x21E8000)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__imx_uart")
	@Runlevel(0) include embox.driver.clock.imx6_gpt

	include embox.compat.libc.stdio.print(support_floating=0)

	include embox.kernel.task.resource.errno

	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=512)
	@Runlevel(1) include embox.kernel.sched.strategy.priority_based

	@Runlevel(2) include embox.kernel.task.multi
	@Runlevel(2) include embox.kernel.stack(stack_size=0x20000)

	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=1024, thread_stack_size=0x4000)

	@Runlevel(2) include embox.fs.driver.initfs
	@Runlevel(2) include embox.fs.rootfs
	@Runlevel(2) include embox.fs.driver.devfs
	@Runlevel(2) include embox.fs.node(fnode_quantity=512)
	@Runlevel(2) include embox.compat.posix.fs.fsop

	@Runlevel(3) include embox.init.start_script
	@Runlevel(2) include embox.cmd.shell
	@Runlevel(2) include embox.cmd.sh.tish(prompt="embox#")
	@Runlevel(3) include embox.init.start_script(shell_name="tish", shell_start=1, stop_on_error=true)

	include embox.cmd.test
	include embox.cmd.help
	include embox.cmd.sys.date
	include embox.cmd.sys.version
	include embox.cmd.fs.cat
	include embox.cmd.fs.ls
}
