<script id="nameChangeDialog" type="text/ng-template">
	<div class="modal-header">
		<h3 class="modal-title">{{ 'CHANGE_TITLE' | translate }}</h3>
	</div>
	<div class="modal-body">
		<form role="form" class="form-group has-feedback" name="nameForm" ng-class="{'has-error' : nameForm.ledPairName.$invalid}">
			<label for="ledpair_name">{{ 'NAME' | translate }}</label><span> ({{ 'REMAIN' | translate }}: {{16 - name.length}})</span>
			<input type="text" class="form-control" id="ledpair_name" name="ledPairName"
				ng-maxlength="16"
				maxlength="16"
				ng-model="name"
				/>
			<span class='form-control-feedback'
				ng-show="nameForm.ledPairName.$invalid">X</span>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">{{ 'OK' | translate }}</button>
		<button class="btn btn-warning" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
	</div>
</script>

<script id="LedTemplate" type="text/ng-template">
	<button type="button" class="btn btn-default led led-off"
		ng-class="{'{{led_on}}' : led.state}"
		ng-click="led_switch({led : led})">{{led_name}}</button>
</script>

<script id="BlockTemplate" type="text/ng-template">
</script>

<div class="container" ng-controller="LedsCtrl">

    <div class="row">
	<div class="block-pair" ng-repeat="block_pair in leds_state">
		<div ng-repeat="led_pair in block_pair">
			<div class="block-caption">{{led_pair.index + 1}}</div>
			<div class="block" ng-class="{'block-error' : led_pair.error}">
				<led-template led="led_pair.red" led-on="led-red" led-switch="led_switch(led)" led-name="{{ 'RED' | translate }}"></led-template>
				<div class="block-desc" ng-dblclick="name_change_request(led_pair)">{{led_pair.name || "&nbsp;" }}</div>
				<led-template led="led_pair.blue" led-on="led-blue" led-switch="led_switch(led)" led-name="{{ 'BLUE' | translate }}"></led-template>
			</div>
		</div>
	    <hr>
	</div>
    </div>

    <div class="row">
	<!-- Refresh -->
	<button type="button" class="btn btn-link" ng-click="update()">{{ 'REFRESH' | translate }}</button>
	<!-- Save -->
	<button type="button" class="btn btn-link" ng-click="save()">{{ 'SAVE' | translate }}</button>
    </div>

</div>
