
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.arm.cortexm3.bundle
	@Runlevel(0) include embox.arch.system(core_freq=16000000)

	@Runlevel(0) include embox.kernel.stack(stack_size=4096,alignment=4)

	@Runlevel(1) include embox.driver.interrupt.cortexm_nvic(irq_table_size=128)
	/*@Runlevel(1) include embox.driver.interrupt.cmsis_nvic*/
	@Runlevel(1) include embox.driver.clock.cortexm_systick
	@Runlevel(1) include embox.driver.serial.stm_usart(baud_rate=115200,usartx=2)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__stm_usart")
	@Runlevel(2) include embox.driver.net.stm32f4_eth
	@Runlevel(2) include embox.driver.net.loopback
	@Runlevel(2) include embox.driver.audio.stm32f4_pa(sample_rate=8000,volume=70)

	include embox.kernel.task.single
	include embox.kernel.task.resource.idesc_table(idesc_table_size=6)

	//include embox.kernel.thread.thread_local_none
	include embox.kernel.thread.thread_cancel_disable
	//include embox.kernel.thread.signal_stub
	//include embox.kernel.timer.sleep_nosched
	include embox.kernel.sched.sched(light_idle=true)

	include embox.net.skbuff(amount_skb=3,amount_skb_data=3)
	include embox.net.sock_noxattr
	include embox.net.af_inet(amount_inet_sock=2)
	@Runlevel(2) include embox.net.core
	@Runlevel(2) include embox.net.socket
	@Runlevel(2) include embox.net.dev
	@Runlevel(2) include embox.net.arp
	@Runlevel(2) include embox.net.ipv4
	@Runlevel(2) include embox.net.udp
	//@Runlevel(2) include embox.net.tcp
	@Runlevel(2) include embox.net.udp_sock
	//@Runlevel(2) include embox.net.tcp_sock(amount_tcp_sock=0)
	@Runlevel(2) include embox.net.raw_sock
	//@Runlevel(2) include embox.test.net.socket_test(family=2,type=1,proto=0) /* AF_INET, SOCK_STREAM, default */
	//@Runlevel(2) include embox.test.net.inet_socket_test(type=1,proto=0) /* SOCK_STREAM, default */
	//@Runlevel(2) include embox.test.net.inet_dgram_socket_test(proto=0) /* default */
	//@Runlevel(2) include embox.test.net.inet_stream_socket_test(proto=0) /* default */

	include embox.kernel.lthread.lthread(lthread_pool_size=2)
	include embox.kernel.thread.core(thread_pool_size=1,thread_stack_size=2048)

	/* tty requires */
	include embox.kernel.thread.mutex
	/*include embox.driver.tty.tty(rx_buff_sz=16, io_buff_sz=16)*/
	include embox.driver.serial.fsnode_none
	include embox.driver.tty.task_breaking_disable

	include embox.fs.node(fnode_quantity=3)

	@Runlevel(2) include embox.cmd.shell
	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script(shell_name="diag_shell")

	include embox.cmd.net.ifconfig
	include embox.cmd.net.route
	//include embox.cmd.net.ping
	include embox.cmd.net.arp
	include embox.cmd.net.arping
	//include embox.cmd.help
	//include embox.cmd.wavplayer
	include embox.cmd.sys.version
	include embox.util.sys_log(msg_n=1)
	include embox.util.hashtable(hashtables_quantity=2,item_quntity=2)
	include embox.kernel.critical
	include embox.kernel.irq
	include embox.mem.pool_adapter

	include embox.util.LibUtil
	include embox.framework.embuild_light
	include embox.framework.LibFramework
	include embox.arch.arm.libarch
	include embox.compat.libc.Print(support_floating=1)

	include embox.mem.heap_bm
	include embox.mem.static_heap(heap_size=32764)
	include embox.mem.bitmask(page_size=64)

	include third_party.bsp.st_f4
	include third_party.bsp.cmsis
	/*@Runlevel(2) include stm32vl.test.blinking_led*/

	include third_party.gcc.core
	include third_party.pjproject.core
}
