
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.microblaze.lds
	@Runlevel(2) include embox.arch.microblaze.kernel.context
	@Runlevel(2) include embox.arch.microblaze.kernel.arch
	@Runlevel(2) include embox.arch.microblaze.kernel.locore
	@Runlevel(2) include embox.arch.system(core_freq=50000000)

	@Runlevel(2) include embox.driver.diag.xuartlite(xuartlite_base=0x81800000)
	@Runlevel(2) include embox.prom.prom_printf

	@Runlevel(2) include embox.driver.clock.mb_timer(mbtimer_base=0x83c000000, irq_num=0)
	@Runlevel(2) include embox.driver.interrupt.mb_intc(mbintc_base=0x840000000)
	@Runlevel(2) include embox.driver.serial.xuartlite(xuartlite_base=0x81800000, irq_num=2)

	@Runlevel(1) include embox.kernel.time.timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(2) include embox.kernel.timer.timer
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.kernel.thread.sched_policy.priority_based
	@Runlevel(2) include embox.kernel.task.multi

	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.mem.bitmask
	@Runlevel(2) include embox.mem.heap_bm(heap_size=4096)

	@Runlevel(2) include embox.fs.ramfs
	@Runlevel(2) include embox.fs.rootfs

	@Runlevel(3) include embox.cmd.shell
	@Runlevel(3) include embox.init.start_script
	include embox.cmd.help

	include embox.lib.LibCFileFsPosix
	include embox.compat.posix.FileTasks
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.microblaze.libarch
	include embox.lib.LibC
}
