
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.microblaze.lds
	@Runlevel(0) include embox.arch.microblaze.cpu
	@Runlevel(0) include embox.arch.microblaze.kernel.boot
	@Runlevel(0) include embox.arch.microblaze.kernel.context
	@Runlevel(0) include embox.arch.microblaze.kernel.locore
	@Runlevel(0) include embox.arch.microblaze.kernel.interrupt
	@Runlevel(0) include embox.arch.microblaze.kernel.arch
	@Runlevel(0) include embox.arch.system(core_freq=50000000)

	@Runlevel(0) include embox.kernel.stack(stack_size=4096)

	@Runlevel(1) include embox.driver.diag.xuartlite(xuartlite_base=0x81800000)
	@Runlevel(1) include embox.driver.serial.xuartlite(xuartlite_base=0x81800000, irq_num=2)
	@Runlevel(1) include embox.driver.interrupt.mb_intc(mbintc_base=0x840000000)
	@Runlevel(1) include embox.driver.clock.mb_timer(mbtimer_base=0x83c000000, irq_num=0)

	@Runlevel(1) include embox.kernel.critical
	@Runlevel(1) include embox.kernel.irq
	@Runlevel(1) include embox.kernel.time.timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(1) include embox.kernel.timer.head_timer
	@Runlevel(1) include embox.kernel.timer.sleep

	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=512)
	@Runlevel(1) include embox.kernel.thread.sched_policy.priority_based

	@Runlevel(3) include embox.init.start_script
	include embox.cmd.shell

	include embox.cmd.date
	include embox.cmd.help
	include embox.cmd.version

	include embox.mem.pool_adapter
	include embox.prom.prom_printf
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.microblaze.libarch
	include embox.lib.LibC

	@Runlevel(1) include embox.test.critical
	@Runlevel(1) include embox.test.gcc.division_test
	@Runlevel(1) include embox.test.hal.context_switch_test
	@Runlevel(1) include embox.test.framework.mod.member.ops_test
	@Runlevel(1) include embox.test.kernel.softirq_test
	@Runlevel(1) include embox.test.kernel.timer_test
	@Runlevel(1) include embox.test.recursion
	@Runlevel(1) include embox.test.kernel.timer.sleep_test
	@Runlevel(1) include embox.test.stdio.printf_test
	@Runlevel(1) include embox.test.stdlib.bsearch_test
//	@Runlevel(1) include embox.test.stdlib.qsort_test
	@Runlevel(1) include embox.test.stdlib.math_test
	@Runlevel(1) include embox.test.util.array_test
	@Runlevel(1) include embox.test.util.bit_test
	@Runlevel(1) include embox.test.util.list_test
	@Runlevel(1) include embox.test.util.slist_test
	@Runlevel(1) include embox.test.mem.pool
	@Runlevel(1) include embox.test.kernel.thread.thread_priority_test
	@Runlevel(1) include embox.test.stdlib.setjmp_test
}
