
<div class="container" ng-controller="LedsCtrl">

    <p>
    <button type="button" class="btn btn-link" ng-click="update()">Update</button>
    </p>

    <div class="row" ng-repeat="led_state in leds_state track by $index">
        <!--<span class="col-xs-2">{{$index}}</span>-->
        <button type="button" class="col-xs-5 btn btn-default"
                ng-class="led_state.red ? 'led-red' : 'led-off'"
		ng-click="led_switch(led_state, $index, 0)">
            Red {{$index + 1}}
        </button>
	<button type="button" class="col-xs-5 btn btn-default"
                ng-class="led_state.blue ? 'led-blue' : 'led-off'"
		ng-click="led_switch(led_state, $index, 1)">
            Blue {{$index + 1}}
        </button>
    </div>
</div>
