
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.generic.arch
	@Runlevel(0) include embox.arch.arm.armlib.context
	@Runlevel(0) include embox.arch.arm.armlib.interrupt
	@Runlevel(0) include embox.arch.arm.armlib.locore
	@Runlevel(0) include embox.arch.arm.armlib.static_excpt_table
	@Runlevel(0) include embox.arch.system(core_freq=48054841)

	include embox.kernel.spinlock(spin_debug=false)
	@Runlevel(0) include embox.kernel.stack(stack_size=8192)
	@Runlevel(1) include embox.driver.serial.pl011(base_addr=0x16000000)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__pl011")
	@Runlevel(1) include embox.driver.interrupt.integratorcp_pic
	@Runlevel(1) include embox.driver.clock.integratorcp_clock(integratorcp_clock_base=0x13000000)
	@Runlevel(1) include embox.driver.net.lan91c111(base_addr=0xC8000000)
	@Runlevel(2) include embox.driver.net.loopback
	@Runlevel(1) include embox.kernel.timer.sys_timer

	@Runlevel(1) include embox.kernel.timer.strategy.head_timer
	@Runlevel(1) include embox.kernel.task.multi
	@Runlevel(1) include embox.kernel.irq
	@Runlevel(1) include embox.kernel.critical
	@Runlevel(1) include embox.kernel.timer.sleep

	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=512)
	@Runlevel(1) include embox.kernel.sched.strategy.priority_based

	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script
	@Runlevel(2) include embox.cmd.shell

	include embox.cmd.test
	include embox.cmd.help

	include embox.cmd.sys.date
	include embox.cmd.sys.version

	include embox.cmd.proc.thread

	include embox.compat.libc.stdio.print(support_floating=0)
	include embox.mem.pool_adapter
	include embox.mem.heap_bm
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.arm.libarch

	@Runlevel(1) include embox.test.critical
	@Runlevel(1) include embox.test.framework.mod.member.ops_test
	@Runlevel(1) include embox.test.kernel.timer_test
	@Runlevel(1) include embox.test.recursion
	@Runlevel(1) include embox.test.posix.sleep_test
	@Runlevel(1) include embox.test.stdlib.bsearch_test
	@Runlevel(1) include embox.test.stdlib.qsort_test
	@Runlevel(1) include embox.test.util.array_test
	@Runlevel(1) include embox.test.util.bit_test
	@Runlevel(1) include embox.test.util.slist_test
	@Runlevel(1) include embox.test.mem.pool_test
	@Runlevel(1) include embox.test.stdlib.setjmp_test

	include embox.fs.syslib.perm_stub
	include embox.compat.posix.fs.all_dvfs
	include embox.fs.driver.initfs_dvfs
	include embox.compat.posix.proc.passwd
	include embox.cmd.net.ping
	include embox.cmd.net.route
	include embox.cmd.net.ifconfig
}
