
package genconfig

configuration conf {
	include embox.arch.xtensa.kernel.boot
	include embox.arch.xtensa.kernel.arch

	include embox.driver.serial.esp8266uart
	include embox.driver.diag(impl="embox__driver__serial__esp8266uart")

	include embox.kernel.cpu.cpudata_api
	include embox.kernel.cpu.bkl_api

	include embox.framework.embuild_light
}
