
package genconfig

configuration conf {
	include embox.arch.xtensa.kernel.boot
	include embox.arch.xtensa.kernel.arch
    include embox.arch.xtensa.locore
    include embox.arch.xtensa.libarch
    
    include embox.kernel.stack(stack_size=1536,alignment=4)
    
    include embox.kernel.Kernel
    include embox.init.no_system_start

	include embox.driver.serial.esp8266uart
	include embox.driver.diag(impl="embox__driver__serial__esp8266uart")

	include embox.kernel.cpu.cpudata_api
	include embox.kernel.cpu.bkl_api

	include embox.framework.embuild_light
}
