
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.system(core_freq=216000000)
	@Runlevel(0) include embox.arch.arm.cortexm3.bundle
	@Runlevel(0) include third_party.bsp.stmf7cube.arch
	include embox.arch.arm.vfork

	@Runlevel(0) include embox.kernel.stack(stack_size=8192,alignment=4)

	@Runlevel(1) include embox.driver.interrupt.cortexm_nvic(irq_table_size=128)
	/*@Runlevel(1) include embox.driver.interrupt.cmsis_nvic*/
	@Runlevel(1) include embox.driver.clock.cortexm_systick
	@Runlevel(1) include embox.driver.serial.stm_usart_f7(baud_rate=115200, usartx=1)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__stm_usart_f7")
	//@Runlevel(1) include embox.driver.diag(impl="embox__driver__console__fbcon")
	@Runlevel(1) include embox.driver.serial.stm_ttyS1(baud_rate=115200, usartx=1)
	@Runlevel(1) include embox.driver.serial.stm_ttyS0(baud_rate=115200, usartx=1)

	@Runlevel(2) include embox.driver.net.stm32f7cube_eth
	@Runlevel(2) include embox.driver.net.loopback

	include embox.kernel.task.multi
	include embox.kernel.task.resource.idesc_table(idesc_table_size=10)

	@Runlevel(2) include embox.driver.video.stm32f7_lcd

	@Runlevel(3) include embox.driver.console.mpx_simple
	@Runlevel(3) include embox.driver.console.fbcon
	include embox.driver.video.fb
	@Runlevel(3) include embox.init.GraphicMode(manual_settings = true, set_x = 480, set_y = 272, set_bpp = 24)

	include embox.kernel.thread.thread_local_none
	include embox.kernel.thread.thread_cancel_disable
	include embox.kernel.thread.signal_stub
	include embox.kernel.timer.sleep_nosched
	include embox.net.skbuff(amount_skb=10)
	include embox.net.skbuff_data(amount_skb_data=10)
	include embox.net.sock_noxattr
	include embox.net.tcp
	include embox.net.tcp_sock
	include embox.kernel.sched.sched
	include embox.kernel.sched.idle_light
	include embox.kernel.thread.signal_stub

	//include embox.kernel.lthread.lthread
	include embox.kernel.thread.core(thread_pool_size=10)

	/* tty requires */
	include embox.kernel.thread.mutex
	include embox.driver.tty.tty(rx_buff_sz=16, io_buff_sz=16)
	include embox.driver.tty.task_breaking_disable

	//@Runlevel(2) include embox.cmd.shell
	include embox.init.setup_tty_diag
	@Runlevel(4) include embox.init.start_script(shell_name="diag_shell")

	include embox.cmd.user.login(security_support=false)
	include embox.cmd.fs.ls
	include embox.cmd.net.ifconfig
	include embox.cmd.net.route
	include embox.cmd.net.ping

	include stm32f7.cmd.stm32f7_led_blinking
	include stm32f7.cmd.stm32f7_ltdc_test
	include stm32f7.cmd.stm32f7_lcd_test


	include embox.compat.posix.proc.vfork_exchanged
	include embox.compat.posix.proc.exec_exchanged

	include embox.util.hashtable
	include embox.cmd.help
	include embox.cmd.sys.version
	include embox.util.log
	include embox.kernel.critical
	include embox.kernel.irq
	include embox.mem.pool_adapter

	include embox.util.LibUtil
	/*include embox.framework.embuild_light*/
	include embox.framework.LibFramework
	include embox.arch.arm.libarch
	include embox.compat.libc.stdio.print(support_floating=0)

	include embox.mem.heap_bm
	include embox.mem.static_heap(heap_size=0x1000)
	include embox.mem.bitmask(page_size=64)

	include third_party.bsp.stmf7cube.core
	include third_party.bsp.stmf7cube.cmsis

	include embox.fs.driver.initfs_dvfs
	include embox.fs.driver.devfs_dvfs
	include embox.fs.rootfs_dvfs(fstype="initfs")

	include embox.driver.char_dev_dvfs
	include embox.driver.serial.uart_dev_dvfs

	include embox.fs.dvfs.core(inode_pool_size=6, dentry_pool_size=6, inode_pool_size=6)
	include embox.compat.posix.fs.all_dvfs
	include embox.fs.syslib.perm_stub
	include embox.driver.block_common
	include embox.driver.block_dvfs
}
