<div ng-controller="CncCtrl">
	<div id="wb_Text1" style="margin:0;padding:0;position:absolute;left:22px;top:41px;width:98px;height:19px;text-align:left;z-index:0;">
		<font style="font-size:16px" color="#000000" face="Arial"><b>X: 1000.10</b></font></div>
	<div id="wb_Text2" style="margin:0;padding:0;position:absolute;left:21px;top:71px;width:98px;height:19px;text-align:left;z-index:1;">
		<font style="font-size:16px" color="#000000" face="Arial"><b>Y: 1000.10</b></font></div>
	<div id="wb_Text3" style="margin:0;padding:0;position:absolute;left:21px;top:101px;width:98px;height:19px;text-align:left;z-index:2;">
		<font style="font-size:16px" color="#000000" face="Arial"><b>Z: 1000.10</b></font></div>
	<div id="wb_Text4" style="margin:0;padding:0;position:absolute;left:21px;top:136px;width:98px;height:19px;text-align:left;z-index:3;">
		<font style="font-size:16px" color="#000000" face="Arial"><b>A: 1000.10</b></font></div>
	<div id="wb_Text5" style="margin:0;padding:0;position:absolute;left:21px;top:167px;width:98px;height:19px;text-align:left;z-index:4;">
		<font style="font-size:16px" color="#000000" face="Arial"><b>B: 1000.10</b></font></div>
	<div id="wb_Text6" style="margin:0;padding:0;position:absolute;left:21px;top:201px;width:98px;height:19px;text-align:left;z-index:5;">
		<font style="font-size:16px" color="#000000" face="Arial"><b>C: 1000.10</b></font></div>
	<div id="wb_Text8" style="margin:0;padding:0;position:absolute;left:24px;top:233px;width:183px;height:16px;text-align:left;z-index:6;">
		<font style="font-size:13px" color="#000000" face="Arial">Установка координаты</font></div>
	<input type="submit" id="Button1" name="" value="Сброс" style="position:absolute;left:137px;top:39px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:7">
	<input type="submit" id="Button2" name="" value="Сброс" style="position:absolute;left:137px;top:69px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:8">
	<input type="submit" id="Button3" name="" value="Сброс" style="position:absolute;left:138px;top:98px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:9">
	<input type="submit" id="Button4" name="" value="Сброс" style="position:absolute;left:137px;top:131px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:10">
	<input type="submit" id="Button5" name="" value="Сброс" style="position:absolute;left:137px;top:163px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:11">
	<input type="submit" id="Button6" name="" value="Сброс" style="position:absolute;left:137px;top:196px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:12">
	<input type="submit" id="Button7" name="" value="Уст." style="position:absolute;left:199px;top:40px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:13">
	<input type="submit" id="Button8" name="" value="Уст." style="position:absolute;left:200px;top:68px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:14">
	<input type="submit" id="Button9" name="" value="Уст." style="position:absolute;left:201px;top:98px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:15">
	<input type="submit" id="Button10" name="" value="Уст." style="position:absolute;left:201px;top:131px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:16">
	<input type="submit" id="Button11" name="" value="Уст." style="position:absolute;left:202px;top:161px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:17">
	<input type="submit" id="Button12" name="" value="Уст." style="position:absolute;left:202px;top:196px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:18">
	<input type="submit" id="Button13" name="" value="Сброс всех осей" style="position:absolute;left:22px;top:275px;width:141px;height:25px;font-family:Arial;font-size:13px;z-index:19">
	<input type="submit" id="Button14" name="" value="Движение на ноль" style="position:absolute;left:23px;top:302px;width:140px;height:25px;font-family:Arial;font-size:13px;z-index:20">
	<input type="submit" id="Button15" name="" value="X" style="position:absolute;left:102px;top:357px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:21">
	<input type="submit" id="Button16" name="" value="x" style="position:absolute;left:102px;top:383px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:22">
	<input type="submit" id="Button17" name="" value="x" style="position:absolute;left:103px;top:438px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:23">
	<input type="submit" id="Button18" name="" value="X" style="position:absolute;left:103px;top:465px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:24">
	<input type="submit" id="Button19" name="" value="y" style="position:absolute;left:72px;top:412px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:25">
	<input type="submit" id="Button20" name="" value="y" style="position:absolute;left:133px;top:412px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:26">
	<input type="submit" id="Button21" name="" value="Y" style="position:absolute;left:42px;top:411px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:27">
	<input type="submit" id="Button22" name="" value="Y" style="position:absolute;left:163px;top:411px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:28">
	<input type="submit" id="Button23" name="" value="Z" style="position:absolute;left:205px;top:367px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:29">
	<input type="submit" id="Button24" name="" value="Z" style="position:absolute;left:205px;top:463px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:30">
	<input type="submit" id="Button25" name="" value="z" style="position:absolute;left:205px;top:394px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:31">
	<input type="submit" id="Button26" name="" value="z" style="position:absolute;left:205px;top:437px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:32">
	<input type="submit" id="Button27" name="" value="a" style="position:absolute;left:73px;top:511px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:33">
	<input type="submit" id="Button28" name="" value="a" style="position:absolute;left:134px;top:511px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:34">
	<input type="submit" id="Button29" name="" value="A" style="position:absolute;left:43px;top:511px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:35">
	<input type="submit" id="Button30" name="" value="A" style="position:absolute;left:164px;top:511px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:36">
	<input type="submit" id="Button31" name="" value="b" style="position:absolute;left:73px;top:541px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:37">
	<input type="submit" id="Button32" name="" value="b" style="position:absolute;left:134px;top:541px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:38">
	<input type="submit" id="Button33" name="" value="B" style="position:absolute;left:43px;top:541px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:39">
	<input type="submit" id="Button34" name="" value="B" style="position:absolute;left:164px;top:541px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:40">
	<input type="submit" id="Button35" name="" value="c" style="position:absolute;left:74px;top:570px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:41">
	<input type="submit" id="Button36" name="" value="c" style="position:absolute;left:135px;top:570px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:42">
	<input type="submit" id="Button37" name="" value="C" style="position:absolute;left:44px;top:570px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:43">
	<input type="submit" id="Button38" name="" value="C" style="position:absolute;left:165px;top:570px;width:28px;height:25px;font-family:Arial;font-size:13px;z-index:44">
	<input type="radio" id="RadioButton1" name="RadioButton1" value="on" style="position:absolute;left:265px;top:384px;z-index:45">
	<div id="wb_Text9" style="margin:0;padding:0;position:absolute;left:262px;top:361px;width:117px;height:16px;text-align:left;z-index:46;">
		<font style="font-size:13px" color="#000000" face="Arial">Шаг перемещения</font></div>
	<div id="wb_Text10" style="margin:0;padding:0;position:absolute;left:292px;top:386px;width:46px;height:16px;text-align:left;z-index:47;">
		<font style="font-size:13px" color="#000000" face="Arial">0,001</font></div>
	<input type="radio" id="RadioButton2" name="RadioButton1" value="on" style="position:absolute;left:265px;top:407px;z-index:48">
	<div id="wb_Text11" style="margin:0;padding:0;position:absolute;left:292px;top:409px;width:46px;height:16px;text-align:left;z-index:49;">
		<font style="font-size:13px" color="#000000" face="Arial">0,005</font></div>
	<input type="radio" id="RadioButton3" name="RadioButton1" value="on" style="position:absolute;left:265px;top:428px;z-index:50">
	<div id="wb_Text12" style="margin:0;padding:0;position:absolute;left:292px;top:430px;width:46px;height:16px;text-align:left;z-index:51;">
		<font style="font-size:13px" color="#000000" face="Arial">0,01</font></div>
	<input type="radio" id="RadioButton4" name="RadioButton1" value="on" style="position:absolute;left:265px;top:451px;z-index:52">
	<div id="wb_Text13" style="margin:0;padding:0;position:absolute;left:292px;top:453px;width:46px;height:16px;text-align:left;z-index:53;">
		<font style="font-size:13px" color="#000000" face="Arial">0,05</font></div>
	<input type="radio" id="RadioButton5" name="RadioButton1" value="on" style="position:absolute;left:266px;top:473px;z-index:54">
	<div id="wb_Text14" style="margin:0;padding:0;position:absolute;left:291px;top:475px;width:46px;height:16px;text-align:left;z-index:55;">
		<font style="font-size:13px" color="#000000" face="Arial">0,1</font></div>
	<input type="radio" id="RadioButton6" name="RadioButton1" value="on" style="position:absolute;left:266px;top:495px;z-index:56">
	<div id="wb_Text15" style="margin:0;padding:0;position:absolute;left:292px;top:497px;width:46px;height:16px;text-align:left;z-index:57;">
		<font style="font-size:13px" color="#000000" face="Arial">0,5</font></div>
	<input type="radio" id="RadioButton7" name="RadioButton1" value="on" checked style="position:absolute;left:265px;top:517px;z-index:58">
	<div id="wb_Text16" style="margin:0;padding:0;position:absolute;left:292px;top:519px;width:46px;height:16px;text-align:left;z-index:59;">
		<font style="font-size:13px" color="#000000" face="Arial">1,0</font></div>
	<textarea name="TextArea1" id="TextArea1" style="position:absolute;left:505px;top:33px;width:486px;height:522px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:60" rows="31" cols="56"></textarea>
	<textarea name="TextArea2" id="TextArea2" style="position:absolute;left:288px;top:35px;width:167px;height:207px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:61" rows="11" cols="16" readonly="readonly" disabled="disabled"></textarea>
	<div id="wb_Text17" style="margin:0;padding:0;position:absolute;left:330px;top:12px;width:112px;height:16px;text-align:left;z-index:62;">
		<font style="font-size:13px" color="#000000" face="Arial">Инструмент</font></div>
	<div id="wb_Text18" style="margin:0;padding:0;position:absolute;left:509px;top:12px;width:182px;height:16px;text-align:left;z-index:63;">
		<font style="font-size:13px" color="#000000" face="Arial">Управляющая программа</font></div>
	<input type="submit" id="Button39" name="" value="Вкл. CW" style="position:absolute;left:258px;top:252px;width:63px;height:25px;font-family:Arial;font-size:13px;z-index:64">
	<input type="submit" id="Button40" name="" value="Откл." style="position:absolute;left:400px;top:252px;width:56px;height:25px;font-family:Arial;font-size:13px;z-index:65">
	<input type="submit" id="Button41" name="" value="Вкл. CCW." style="position:absolute;left:327px;top:252px;width:70px;height:25px;font-family:Arial;font-size:13px;z-index:66">
	<div id="wb_Text19" style="margin:0;padding:0;position:absolute;left:226px;top:290px;width:153px;height:16px;text-align:left;z-index:67;">
		<font style="font-size:13px" color="#000000" face="Arial">Скорость вращения %</font></div>
	<input type="text" id="Editbox1" style="position:absolute;left:25px;top:250px;width:131px;height:18px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:68" name="Editbox1" value="->: 0.0">
	<input type="text" id="Editbox2" style="position:absolute;left:378px;top:287px;width:34px;height:18px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:69" name="Editbox1" value="80">
	<input type="submit" id="Button42" name="" value="Пуск" style="position:absolute;left:391px;top:495px;width:72px;height:25px;font-family:Arial;font-size:13px;z-index:70">
	<input type="submit" id="Button43" name="" value="Стоп" style="position:absolute;left:391px;top:521px;width:72px;height:25px;font-family:Arial;font-size:13px;z-index:71">
	<textarea name="TextArea1" id="TextArea3" style="position:absolute;left:508px;top:590px;width:486px;height:75px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:72" rows="3" cols="56"></textarea>
	<div id="wb_Text7" style="margin:0;padding:0;position:absolute;left:582px;top:567px;width:82px;height:16px;text-align:left;z-index:73;">
		<font style="font-size:13px" color="#000000" face="Arial">G команды</font></div>
	<input type="submit" id="Button44" name="" value="Пуск команды" style="position:absolute;left:663px;top:564px;width:121px;height:25px;font-family:Arial;font-size:13px;z-index:74">
	<input type="submit" id="Button45" name="" value="Тест УП" style="position:absolute;left:388px;top:399px;width:72px;height:25px;font-family:Arial;font-size:13px;z-index:75">
	<div id="wb_Text20" style="margin:0;padding:0;position:absolute;left:227px;top:315px;width:153px;height:32px;text-align:left;z-index:76;">
		<font style="font-size:13px" color="#000000" face="Arial">Ограничение скорости перемещения мм/с</font></div>
	<input type="text" id="Editbox3" style="position:absolute;left:380px;top:320px;width:59px;height:18px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:77" name="Editbox1" value="250">
	<div id="wb_Text21" style="margin:0;padding:0;position:absolute;left:369px;top:428px;width:123px;height:16px;text-align:left;z-index:78;">
		<font style="font-size:13px" color="#000000" face="Arial">Текущая строка УП</font></div>
	<input type="text" id="Editbox4" style="position:absolute;left:383px;top:451px;width:90px;height:18px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:79" name="Editbox1" value="11124">
	<textarea name="TextArea1" id="TextArea4" style="position:absolute;left:19px;top:678px;width:975px;height:461px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:80" rows="27" cols="117"></textarea>
	<div id="wb_Text22" style="margin:0;padding:0;position:absolute;left:175px;top:652px;width:218px;height:16px;text-align:left;z-index:81;">
		<font style="font-size:13px" color="#000000" face="Arial">Журнал команд системы </font></div>
	<input type="submit" id="Button46" name="" value="Открыть" style="position:absolute;left:835px;top:5px;width:72px;height:25px;font-family:Arial;font-size:13px;z-index:82">
	<input type="submit" id="Button47" name="" value="Сохранить" style="position:absolute;left:912px;top:6px;width:80px;height:25px;font-family:Arial;font-size:13px;z-index:83">
	<input type="submit" id="Button48" name="" value="Сохранить" style="position:absolute;left:350px;top:646px;width:80px;height:25px;font-family:Arial;font-size:13px;z-index:84">
	<input type="submit" id="Button49" name="" value="Руководство по эксплуатации" style="position:absolute;left:17px;top:6px;width:214px;height:25px;font-family:Arial;font-size:13px;z-index:85">
	<input type="text" id="Editbox5" style="position:absolute;left:675px;top:7px;width:152px;height:18px;border:1px #C0C0C0 solid;font-family:Courier New;font-size:13px;z-index:86" name="Editbox1" value="корпус датчика.lacnc">
</div>
