
package genconfig

configuration conf {
	@Runlevel(2) include embox.kernel.main
	@Runlevel(2) include embox.arch.x86.lds
	@Runlevel(2) include embox.arch.x86.kernel.arch
	@Runlevel(2) include embox.arch.x86.kernel.locore
	@Runlevel(2) include embox.arch.x86.kernel.context
	@Runlevel(2) include embox.driver.interrupt.i8259
	@Runlevel(2) include embox.driver.clock.pit
	@Runlevel(2) include embox.driver.terminal
	@Runlevel(2) include embox.driver.serial.serial_port(baud_rate=115200)
	@Runlevel(2) include embox.driver.gpio.rdc_gpio
	@Runlevel(2) include embox.driver.diag.serial_port(baud_rate=115200)
	@Runlevel(2) include embox.fs.ramfs
	@Runlevel(2) include embox.fs.rootfs
	@Runlevel(3) include embox.cmd.shell
	include embox.cmd.help
	include embox.cmd.lsmod
	include embox.cmd.man
	include embox.cmd.mem
	include embox.cmd.test
	include embox.cmd.version
	include embox.cmd.wmem
	@Runlevel(2) include embox.kernel.thread.sched_policy.priority_based
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.timer.timer
	@Runlevel(2) include embox.kernel.softirq
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.kernel.multi_task
	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.mem.bitmask
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.x86.libarch
	@Runlevel(2) include embox.compat.posix.LibPosix
	@Runlevel(2) include embox.lib.LibC
}
