package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.arm.cortexa8.bundle
	@Runlevel(0) include embox.arch.system(core_freq=48054841)

	@Runlevel(0) include embox.kernel.stack(stack_size=4096)
	@Runlevel(1) include embox.driver.serial.ns16550(base_addr=0x48024000)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__ns16550")
	@Runlevel(1) include embox.driver.interrupt.omap3_intc
	@Runlevel(1) include embox.driver.clock.ti8168_clk
	@Runlevel(1) include embox.kernel.timer.sys_timer
	@Runlevel(1) include embox.driver.net.ti816x
	@Runlevel(1) include embox.driver.net.loopback
	@Runlevel(1) include embox.fs.driver.initfs

	@Runlevel(1) include embox.kernel.timer.strategy.head_timer
	@Runlevel(1) include embox.kernel.irq
	@Runlevel(1) include embox.kernel.critical
	@Runlevel(1) include embox.kernel.timer.sleep

	@Runlevel(1) include embox.kernel.task.multi
	@Runlevel(1) include embox.kernel.thread.core(thread_pool_size=512)
	@Runlevel(1) include embox.kernel.sched.strategy.priority_based

	@Runlevel(2) include embox.driver.usb.hc.ti81xx
	@Runlevel(2) include embox.driver.usb.class.hid
	@Runlevel(3) include embox.init.start_script
	@Runlevel(2) include embox.cmd.shell

	include embox.cmd.test
	include embox.cmd.help
	include embox.cmd.mem
	include embox.cmd.wmem
	include embox.cmd.input_test

	include embox.cmd.sys.date
	include embox.cmd.sys.export
	include embox.cmd.sys.version

	include embox.cmd.proc.thread

	include embox.cmd.net.arp
	include embox.cmd.net.arping
	include embox.cmd.net.ifconfig
	include embox.cmd.net.route
	include embox.cmd.net.ping
	include embox.cmd.net.telnetd

	include embox.cmd.fs.cat
	include embox.cmd.fs.cd
	include embox.cmd.fs.pwd
	include embox.cmd.fs.ls
	include embox.cmd.fs.rm
	include embox.cmd.fs.mkfs
	include embox.cmd.fs.mount
	include embox.cmd.fs.more
	include embox.cmd.fs.umount
	include embox.cmd.fs.stat
	include embox.cmd.fs.echo
	include embox.cmd.fs.touch
	include embox.cmd.fs.mkdir
	include embox.cmd.fs.cp
	include embox.cmd.fs.mv

	include embox.compat.libc.stdio.print(support_floating=0)
	include embox.mem.pool_adapter
	include embox.mem.heap_bm
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.arm.libarch
	include embox.compat.libc.all

	include embox.net.dev
	include embox.net.skbuff(amount_skb=4000,
			amount_skb_data=4000,data_size=1514,data_align=64,data_padto=64,ip_align=true,
			amount_skb_extra=1000,extra_size=16,extra_align=64,extra_padto=64)
	include embox.net.core
	include embox.net.net_entry
	include embox.net.l2.ethernet
	include embox.net.arp
	include embox.net.af_inet
	include embox.net.ipv4
	include embox.net.icmpv4
	include embox.net.udp
	include embox.net.tcp
	include embox.net.udp_sock
	include embox.net.tcp_sock
	include embox.net.raw_sock
	include embox.net.lib.dns(nameserver="192.168.0.1")
	include embox.test.net.socket_test(family=2,type=1,proto=0) /* AF_INET, SOCK_STREAM, default */
	include embox.test.net.inet_socket_test(type=1,proto=0) /* SOCK_STREAM, default */
	include embox.test.net.inet_dgram_socket_test(proto=0) /* default */
	include embox.test.net.inet_stream_socket_test(proto=0) /* default */

	@Runlevel(1) include embox.test.kernel.irq_test(irq_nr=23,outer_irq_nr=23,inner_irq_nr=24,forced_irq_clear=true)
	@Runlevel(1) include embox.test.critical
	@Runlevel(1) include embox.test.framework.mod.member.ops_test
	@Runlevel(1) include embox.test.kernel.timer_test
	@Runlevel(1) include embox.test.recursion
	@Runlevel(1) include embox.test.posix.sleep_test
	@Runlevel(1) include embox.test.stdlib.bsearch_test
	@Runlevel(1) include embox.test.stdlib.qsort_test
	@Runlevel(1) include embox.test.util.array_test
	@Runlevel(1) include embox.test.util.bit_test
	@Runlevel(1) include embox.test.util.slist_test
	@Runlevel(1) include embox.test.mem.pool_test
	include embox.kernel.timer.sys_timer(timer_quantity=512) // each sleep thread requires a timer
	@Runlevel(1) include embox.test.kernel.thread.thread_priority_test
	@Runlevel(1) include embox.test.stdlib.setjmp_test
	@Runlevel(1) include embox.test.posix.environ_test

	@Runlevel(2) include embox.fs.node(fnode_quantity=1024)
	@Runlevel(2) include embox.fs.driver.fat
	@Runlevel(2) include embox.fs.driver.cdfs
	@Runlevel(2) include embox.fs.driver.initfs
	@Runlevel(2) include embox.fs.driver.nfs
	@Runlevel(2) include embox.fs.driver.tmpfs
	//@Runlevel(2) include embox.fs.driver.cifs
	@Runlevel(2) include embox.fs.driver.ramfs
	@Runlevel(2) include embox.fs.rootfs

}
