package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.system(core_freq=800000000)
	@Runlevel(0) include embox.arch.e2k.arch
	@Runlevel(0) include embox.arch.e2k.x86_boot
	@Runlevel(0) include embox.arch.generic.arch
	@Runlevel(0) include embox.arch.e2k.libarch

	@Runlevel(1) include embox.driver.serial.am85c30

	@Runlevel(1) include embox.driver.interrupt.ioapic
	@Runlevel(1) include embox.driver.interrupt.ioapic_regs_e2k
	@Runlevel(1) include embox.driver.interrupt.lapic_regs_e2k

	@Runlevel(1) include embox.driver.clock.e2k

	@Runlevel(1) include embox.mem.bitmask

	include embox.compat.libc.math_builtins

	@Runlevel(0) include embox.kernel.irq
	@Runlevel(0) include embox.driver.char_dev_dvfs
	@Runlevel(0) include embox.driver.serial.uart_dev_dvfs

	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__am85c30")

	@Runlevel(1) include embox.driver.common
	@Runlevel(1) include embox.driver.periph_memory

	@Runlevel(1) include embox.fs.dvfs.core

	@Runlevel(3) include embox.security.api

	include embox.compat.libc.stdio.rename_dvfs
	include embox.compat.posix.fs.all_dvfs
	include embox.fs.syslib.perm_stub

	include embox.driver.pci(log_level=1)

	include embox.driver.pci_chip.pci_chip_elbrus
	@Runlevel(1) include embox.driver.video.lynxfb(log_level=4)

	@Runlevel(2) include embox.fs.driver.initfs_dvfs


	include embox.kernel.task.single
	include embox.kernel.task.resource.idesc_table(idesc_table_size=6)
	include embox.kernel.task.task_no_table


//	@Runlevel(2) include embox.cmd.sh.tish(builtin_commands = "help ls")
//	include embox.init.setup_tty_diag
//	@Runlevel(3) include embox.init.start_script(shell_name="tish")

	@Runlevel(2) include embox.cmd.shell
	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script(shell_name="diag_shell")

	include embox.cmd.help
	//include embox.cmd.fs.ls

}
