package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.system(core_freq=800000000)
	@Runlevel(0) include embox.arch.e2k.arch
	@Runlevel(0) include embox.arch.e2k.x86_boot
	@Runlevel(0) include embox.arch.generic.arch
	@Runlevel(0) include embox.arch.e2k.libarch
	@Runlevel(0) include embox.arch.e2k.interrupt
	@Runlevel(0) include embox.arch.e2k.context(log_level=0)
	@Runlevel(0) include embox.arch.e2k.vfork

	@Runlevel(0) include embox.arch.e2k.mmu
	include embox.arch.e2k.mmuinfo

	include embox.compat.posix.sys.mman.mmap

	include embox.kernel.spinlock(spin_debug = false)

	@Runlevel(1) include embox.driver.serial.am85c30

	@Runlevel(1) include embox.driver.interrupt.ioapic
	@Runlevel(1) include embox.driver.interrupt.ioapic_regs_e2k
	@Runlevel(1) include embox.driver.interrupt.lapic_regs_e2k

	@Runlevel(1) include embox.test.util.array_test
	@Runlevel(1) include embox.test.util.slist_test
	@Runlevel(1) include embox.test.util.tree_test
	@Runlevel(1) include embox.test.stdlib.setjmp_test
	@Runlevel(1) include embox.test.kernel.timer_test
	@Runlevel(1) include embox.test.hal.context_switch_test(stack_sz = 0x10000)
	@Runlevel(1) include embox.test.kernel.sched.running_threads_test
	@Runlevel(1) include embox.test.kernel.thread.thread_priority_test(threads_quantity=10)
	@Runlevel(1) include embox.test.kernel.thread.thread_systimer_irq_test
	@Runlevel(1) include embox.test.kernel.thread.thread_test
	@Runlevel(1) include embox.test.kernel.task.multitask_test
	@Runlevel(1) include embox.test.posix.vfork_test

	@Runlevel(1) include embox.kernel.timer.sys_timer
	@Runlevel(1) include embox.kernel.time.kernel_time

	@Runlevel(2) include embox.kernel.task.multi
	@Runlevel(2) include embox.kernel.stack(stack_size=0x10000)
	@Runlevel(2) include embox.kernel.thread.core(stack_align=4096, thread_stack_size=0x10000)
	@Runlevel(2) include embox.kernel.sched.strategy.priority_based
	@Runlevel(2) include embox.kernel.timer.sleep
	@Runlevel(2) include embox.kernel.timer.strategy.list_timer
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical

	@Runlevel(1) include embox.driver.clock.e2k(irq_num=2, freq=2000)

	@Runlevel(1) include embox.mem.bitmask

	include embox.compat.libc.math_builtins

	@Runlevel(0) include embox.kernel.irq
	@Runlevel(0) include embox.driver.char_dev_dvfs
	@Runlevel(0) include embox.driver.serial.uart_dev_dvfs

	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__am85c30")

	@Runlevel(1) include embox.driver.common
	@Runlevel(1) include embox.driver.periph_memory

	@Runlevel(1) include embox.fs.dvfs.core

	@Runlevel(2) include embox.compat.posix.proc.waitpid
	@Runlevel(2) include embox.compat.posix.proc.pid

	@Runlevel(3) include embox.security.api

	include embox.compat.libc.stdio.rename_dvfs
	include embox.compat.posix.fs.all_dvfs
	include embox.fs.syslib.perm_stub

	include embox.driver.pci(log_level=1)

	include embox.driver.pci_chip.pci_chip_elbrus
	@Runlevel(1) include embox.driver.video.lynxfb(log_level=4)

	@Runlevel(2) include embox.fs.driver.initfs_dvfs
	@Runlevel(2) include embox.fs.driver.devfs_dvfs

	//@Runlevel(2) include embox.cmd.shell
	include embox.init.setup_tty_diag
	//@Runlevel(3) include embox.init.start_script(shell_name="diag_shell")
	@Runlevel(2) include embox.cmd.sh.tish(prompt="%u@%h:%w%$", rich_prompt_support=1, builtin_commands="exit ")
	include embox.init.start_script(shell_name="tish", tty_dev="ttyS4", shell_start=1, stop_on_error=true)

	include embox.cmd.help
	include embox.cmd.sys.version

	include embox.cmd.testing.ticker
	include embox.cmd.testing.fb_devfs_access
	include embox.cmd.testing.fb_direct_access

	include embox.cmd.fs.ls
	include embox.cmd.lspci
	include embox.cmd.mmuinfo
	include embox.cmd.hw.mmutrans
	include embox.cmd.mem

	include embox.cmd.proc.top
	include embox.cmd.proc.ps
}
