
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.mips.kernel.boot
	@Runlevel(2) include embox.arch.mips.kernel.arch
	@Runlevel(2) include embox.arch.mips.kernel.locore
	@Runlevel(2) include embox.arch.mips.kernel.entry

	include embox.arch.mips.kernel.boot
	include embox.arch.mips.kernel.entry
	@Runlevel(1) include embox.arch.mips.kernel.arch
	@Runlevel(1) include embox.arch.mips.kernel.interrupt
	@Runlevel(1) include embox.arch.mips.kernel.exception

	@Runlevel(2) include embox.driver.serial.i8250(baud_rate=115200)
	include embox.driver.serial.fsnode_none
	@Runlevel(2) include embox.driver.diag(impl="embox__driver__serial__i8250")
	@Runlevel(2) include embox.driver.interrupt.mips_intc
	@Runlevel(2) include embox.driver.clock.mips_clk

	@Runlevel(2) include embox.kernel.timer.sys_timer
	@Runlevel(2) include embox.kernel.timer.strategy.head_timer
	@Runlevel(2) include embox.arch.system(core_freq=100000000)
	include embox.kernel.thread.thread_local_none
	include embox.kernel.thread.thread_cancel_disable
	include embox.kernel.thread.stack_api
	include embox.kernel.sched.sched

	@Runlevel(2) include embox.test.stdlib.setjmp_test
	@Runlevel(2) include embox.test.stdio.printf_test

	@Runlevel(2) include embox.mem.pool_adapter

	@Runlevel(2) include embox.mem.heap_bm

	include embox.driver.tty.task_breaking_disable
	@Runlevel(2) include embox.cmd.shell
	@Runlevel(3) include embox.init.start_script
	include embox.cmd.help

	include embox.cmd.sys.version

	@Runlevel(2) include embox.kernel.time.jiffies

	@Runlevel(2) include embox.util.LibUtil

	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.mips.libarch
}
