
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.arm.lds
	@Runlevel(2) include embox.arch.arm.kernel.arch
	@Runlevel(2) include embox.arch.arm.kernel.locore
	@Runlevel(2) include embox.kernel.main
	@Runlevel(2) include embox.arch.system(core_freq=48054841)
	@Runlevel(2) include embox.driver.interrupt.at91_aic
	@Runlevel(2) include embox.driver.clock.at91_pitc
	@Runlevel(2) include lego_nxt.driver.nxt_diag_lcd
	@Runlevel(2) include lego_nxt.driver.nxt_sound
	@Runlevel(2) include lego_nxt.driver.nxt_lcd
	@Runlevel(2) include embox.driver.gpio.at91_pins
	@Runlevel(2) include lego_nxt.driver.nxt_avr_init
	@Runlevel(2) include embox.kernel.timer.sleep_nosched
	@Runlevel(2) include embox.kernel.timer.head_timer
	@Runlevel(2) include embox.kernel.softirq
	@Runlevel(2) include embox.kernel.irq
	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.mem.pool_adapter
	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.arm.libarch
	@Runlevel(2) include embox.lib.LibC
}
