package genconfig

configuration conf {
	include embox.arch.usermode86.host
	include embox.arch.usermode86.locore
	include embox.arch.usermode86.ipl
	include embox.arch.usermode86.context
	include embox.arch.x86.libarch

	include embox.driver.diag.usermode
	include embox.driver.interrupt.usermode
	include embox.driver.clock.usermode
	include embox.driver.net.usermode

	include embox.driver.diag(impl="embox__driver__diag__usermode")
	include embox.kernel.critical
	include embox.mem.heap_bm
	include embox.kernel.time.timer
	include embox.kernel.timer.sleep
	include embox.kernel.timer.sys_timer
	include embox.kernel.timer.strategy.head_timer
	include embox.kernel.sched.strategy.priority_based
	include embox.kernel.thread.mutex

	include embox.driver.net.loopback
	include embox.net.skbuff
	include embox.net.net_entry
	include embox.net.neighbour
	include embox.net.arp
	include embox.net.af_inet
	include embox.net.udp_sock
	include embox.net.icmpv4

	include embox.test.kernel.irq_test(inner_irq_nr=10,outer_irq_nr=12,irq_nr=10)
	include embox.test.kernel.timer_test
	include embox.test.kernel.periodic_timer_test
	include embox.test.kernel.oneshot_timer_test
	include embox.test.kernel.thread.thread_test

	include embox.cmd.net.ifconfig
	include embox.cmd.net.route
	include embox.cmd.net.ping

	include embox.cmd.help
	include embox.cmd.sys.version
	include embox.cmd.sleep

	include embox.cmd.shell
	@Runlevel(3) include embox.init.start_script

	include embox.prom.prom_printf
	include embox.util.SListDebug
	include embox.util.DListDebug
	include embox.util.LibUtil
	include embox.util.Array
	include embox.util.Prioq
	include embox.mem.pool
	include embox.mem.pool_adapter
	/*include embox.framework.LibFramework*/
	include embox.lib.LibCStdio
	include embox.lib.LibC
}

