package genconfig

configuration conf {
	include embox.arch.usermode86.lds
	include embox.driver.diag.usermode

	include embox.arch.arm.kernel.arch

	include embox.kernel.critical

	include embox.util.SListDebug
	include embox.mem.pool
	include embox.mem.pool_adapter
	include embox.framework.runlevel
	include embox.lib.LibCStdio
	include embox.lib.LibC
	include embox.compat.posix.open
}

