package genconfig

configuration conf {
	include embox.arch.usermode86.boot
	include embox.arch.usermode86.ipl
	include embox.arch.usermode86.lds
	include embox.driver.diag.usermode

	include embox.arch.x86.libarch

	include embox.driver.interrupt.usermode

	include embox.arch.arm.kernel.arch

	include embox.kernel.critical

	include embox.test.kernel.irq_test

	include embox.prom.prom_printf
	include embox.util.SListDebug
	include embox.util.Array
	include embox.mem.pool
	include embox.mem.pool_adapter
	include embox.framework.LibFramework
	include embox.lib.LibCStdio
	include embox.lib.LibC
}

