
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.system(core_freq=144000000)
	@Runlevel(0) include embox.arch.arm.cortexm3.bundle
	@Runlevel(0) include third_party.bsp.st_f4.arch
	include embox.arch.arm.vfork

	@Runlevel(0) include embox.kernel.stack(stack_size=3000,alignment=4)

	include embox.fs.dvfs.core(inode_pool_size=20,file_pool_size=15,dentry_pool_size=16)

	include embox.driver.sd.stm32f4_sd(sd_buf_size=128)
	include embox.fs.driver.dfs
	include embox.fs.driver.initfs_dvfs(dir_quantity=8)
	include embox.fs.rootfs_dvfs(fstype="initfs")
	include embox.compat.posix.fs.all_dvfs

	include embox.cmd.fs.ls
	include embox.cmd.fs.cat
	include embox.cmd.fs.mount
	include embox.cmd.fs.echo

	@Runlevel(1) include embox.driver.interrupt.cortexm_nvic(irq_table_size=128)
	/*@Runlevel(1) include embox.driver.interrupt.cmsis_nvic*/
	@Runlevel(1) include embox.driver.clock.cortexm_systick
	@Runlevel(1) include embox.driver.serial.stm_usart(baud_rate=115200)
	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__stm_usart")
	@Runlevel(2) include embox.driver.net.stm32f4_eth
	@Runlevel(2) include embox.driver.net.loopback
	@Runlevel(2) include embox.driver.flash.stm32

	include embox.kernel.task.multi
	include embox.kernel.task.resource.idesc_table(idesc_table_size=20)
	include embox.kernel.task.task_table(task_table_size=6)

	include embox.kernel.thread.thread_local_none
	include embox.kernel.thread.thread_cancel_disable
	include embox.net.skbuff(amount_skb=20)
	include embox.net.skbuff_data(amount_skb_data=20)
	include embox.net.sock_noxattr
	include embox.net.tcp
	include embox.net.udp
	include embox.net.tcp_sock(amount_tcp_sock=20, max_simultaneous_tx_pack=2)
	include embox.net.udp_sock
	include embox.kernel.sched.sched
	include embox.kernel.sched.idle_light
	include embox.kernel.thread.signal.siginfoq(pool_sz=0)

	include embox.kernel.lthread.lthread
	include embox.kernel.thread.core(thread_pool_size=2)

	/* tty requires */
	include embox.kernel.thread.mutex
	/*include embox.driver.tty.tty(rx_buff_sz=16, io_buff_sz=16)*/
	include embox.driver.char_dev_dvfs
	include embox.driver.tty.task_breaking_disable

	@Runlevel(2) include embox.cmd.sh.shell_registry(input_buff_sz=80)
	@Runlevel(2) include embox.cmd.sleep
	@Runlevel(2) include embox.cmd.sh.tish(builtin_commands = "cd export exit logout httpd")
	include embox.init.setup_tty_diag
	@Runlevel(3) include embox.init.start_script(shell_name="tish")

	include embox.cmd.net.ifconfig
	include embox.cmd.net.route
	include embox.cmd.net.ping
	include embox.cmd.net.httpd(use_real_cmd=true, use_parallel_cgi=false)
	include embox.cmd.net.httpd_cgi
	include embox.cmd.net.bootpc
	include stm32f4_iocontrol.http_admin
	include stm32f4_iocontrol.cmd.flash_settings
	include stm32f4_iocontrol.led_names
	include embox.compat.posix.proc.vfork_exchanged
	include embox.compat.posix.proc.exec_exchanged

	include embox.util.hashtable
	//include embox.cmd.help
	include embox.cmd.sys.version
	include embox.util.log
	include embox.kernel.critical
	include embox.kernel.irq(action_n=10, entry_n=10)
	include embox.mem.pool_adapter

	include embox.util.LibUtil
	include embox.framework.embuild_light
	include embox.framework.LibFramework
	include embox.arch.arm.libarch
	include embox.compat.libc.stdio.print(support_floating=0)

	include embox.mem.heap_bm
	include embox.mem.static_heap(heap_size=0x4000,section="")
	include embox.mem.bitmask(page_size=64)

	include third_party.bsp.st_f4.core
	include third_party.bsp.st_f4.cmsis
	/*@Runlevel(2) include stm32vl.test.blinking_led*/

	include third_party.lib.libmodbus
	include stm32f4_iocontrol.modbus_server
	include stm32f4_iocontrol.led_driver

	include embox.service.cgi_cmd_wrapper(cmds_check=true, allowed_cmds="led_driver led_names flash_settings")
	include embox.kernel.task.resource.env(env_str_len=64)
}
