
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.arm.armv6.arm11

	@Runlevel(0) include embox.arch.arm.armlib.interrupt
	@Runlevel(0) include embox.arch.arm.armlib.context
	@Runlevel(0) include embox.arch.arm.armlib.mem_barriers

	include embox.arch.arm.mmu_small_page
	//@Runlevel(0) include embox.mem.vmem
	@Runlevel(0) include embox.arch.system(core_freq=70000000)
	@Runlevel(0) include embox.kernel.stack(stack_size=2536,alignment=4)

	@Runlevel(0) include embox.driver.interrupt.raspi
	@Runlevel(1) include embox.driver.clock.raspi_systick

	@Runlevel(1) include embox.driver.diag(impl="embox__driver__serial__raspi_uart")
	@Runlevel(1) include embox.driver.serial.raspi_uart
	include embox.mem.bitmask
	@Runlevel(1) include embox.driver.video.raspi_video
	@Runlevel(2) include embox.driver.console.mpx_simple
	@Runlevel(3) include embox.driver.console.fbcon
	@Runlevel(2) include embox.init.GraphicMode(manual_settings = true, set_x = 1024, set_y = 768, set_bpp = 16)

	//include embox.driver.gpio.TODO

	include embox.kernel.critical
	include embox.kernel.irq
	include embox.kernel.spinlock(spin_debug=false)
	include embox.kernel.task.multi
	include embox.kernel.task.resource.idesc_table(idesc_table_size=4)


	@Runlevel(1) include embox.kernel.timer.sys_timer(timer_quantity=2)
	@Runlevel(1) include embox.kernel.timer.strategy.list_timer
	@Runlevel(1) include embox.kernel.time.kernel_time
	@Runlevel(1) include embox.kernel.timer.itimer(itimer_quantity=0)

	include embox.kernel.thread.core(thread_pool_size=16)

	@Runlevel(1) include embox.kernel.lthread.lthread
	@Runlevel(2) include embox.kernel.sched.sched
	@Runlevel(2) include embox.kernel.sched.strategy.priority_based

	include embox.compat.posix.util.sleep

	/* tty requires */
	include embox.driver.char_dev_stub

	@Runlevel(2) include embox.cmd.sh.tish
	include embox.init.setup_tty_diag
	@Runlevel(4) include embox.init.start_script(shell_name="tish")

	include embox.cmd.user.login(security_support=false)
	include embox.cmd.help
	include embox.cmd.sys.version

	include embox.test.kernel.thread.thread_test

	include embox.util.dlist
	include embox.compat.libc.stdio.print(support_floating=0)
	include third_party.lib.libgcc_toolchain

	include embox.fs.driver.initfs
	include embox.fs.syslib.fs_full
	include embox.fs.syslib.file_system_full

	include embox.cmd.input_test
	@Runlevel(2) include embox.driver.usb.class.hid
	@Runlevel(2) include embox.driver.usb.hc.usb_dwc
}
