
package genconfig

configuration conf {
	@Runlevel(0) include embox.arch.arm.lds
	@Runlevel(0) include embox.arch.arm.kernel.arch_thumb
	@Runlevel(0) include embox.arch.arm.kernel.locore_thumb
	@Runlevel(0) include embox.arch.system(core_freq=8000000)

	@Runlevel(1) include embox.driver.interrupt.stm32_nvic
	@Runlevel(1) include embox.driver.clock.stm32_systick
	@Runlevel(1) include embox.driver.diag.mem_diag

	include embox.kernel.critical
	include embox.kernel.irq
	include embox.kernel.timer.timer
	include embox.mem.pool_adapter
	include embox.prom.prom_printf
	include embox.util.LibUtil
	include embox.framework.LibFramework
	include embox.arch.arm.libarch
	include embox.lib.LibC

	@Runlevel(2) include stm32vl.test.blinking_led
}
