
package genconfig

configuration conf {
	@Runlevel(2) include embox.arch.arm.lds
	@Runlevel(2) include embox.arch.arm.kernel.arch_thumb
	@Runlevel(2) include embox.arch.arm.kernel.locore_thumb
	include embox.arch.system(core_freq=72000000)

	include embox.driver.interrupt.stm_nvic
	@Runlevel(2) include embox.driver.clock.systick_timer
	@Runlevel(2) include embox.driver.diag.mem_diag

	@Runlevel(2) include embox.kernel.critical
	@Runlevel(2) include embox.kernel.irq
	include embox.kernel.timer.timer
	include embox.mem.pool_adapter
	@Runlevel(2) include embox.prom.prom_printf
	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.arch.arm.libarch
	@Runlevel(2) include embox.lib.LibC

	@Runlevel(2) include stm32vl.test.blinking_led
}
